{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Joggingtimes App</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "main/css/bootstrap-theme.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "main/css/signin.css" %}" rel="stylesheet">
    <link href="{% static "main/css/datepicker3.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/template" id="signin_tpl">
        <form class="form-signin signin-form">
          <h2 class="form-signin-heading">Please sign in</h2>
          <% if(message) {%>
            <p class="text-danger"><%= message %></p>
          <% } %>
          <label for="inputEmail" class="sr-only">Login</label>
          <input type="text" id="username" class="form-control" placeholder="Username" required autofocus name="username">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" required name="password">
          <p>
            <a href="#signup" id="signup">signup</a>
          </p>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
   </script>

   <script type="text/template" id="signup_tpl">
        <form class="form-signin  signup-form">
          <h2 class="form-signin-heading">Sign up</h2>
          <% if(message) {%>
            <p class="text-danger"><%= message %></p>
          <% } %>
          <label for="inputEmail" class="sr-only">Login</label>
          <input type="text" id="username" class="form-control" placeholder="Username" required autofocus name="username">
          <% if(typeof errors !== 'undefined') { %>
            <% _.each(errors.username, function(err){ %>
                <p class="text-danger"><%= err %></p>
            <% }); %>
          <% } %>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" required name="password">
          <% if(typeof errors !== 'undefined') { %>
            <% _.each(errors.password, function(err){ %>
                <p class="text-danger"><%= err %></p>
            <% }); %>
          <% } %>
          <label for="inputPassword" class="sr-only">Password repeat</label>
          <input type="password" id="password_repeat" class="form-control" placeholder="Password repeat" required name="password_repeat">
          <% if(typeof errors !== 'undefined') { %>
            <% _.each(errors.password, function(err){ %>
                <p class="text-danger"><%= err %></p>
            <% }); %>
          <% } %>
          <p>
            <a href="#signin" id="signin">signin</a>
          </p>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
   </script>

   <script type="text/template" id="status_tpl">
   <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="active" role="presentation"><a href="#"><%- username %></a></li>
             <% if (is_staff) { %>
                <li role="presentation"><a href="#users" >manage users</a></li>
                <li role="presentation"><a href="#" >my records</a></li>
             <% } %>
             <% if (username) { %>
                <li role="presentation"><a href="#" id="logout">logout</a></li>
             <% } %>

          </ul>
        </nav>
        <h3 class="text-muted">Joggingtimes</h3>
      </div>
   </script>

   <script type="text/template" id="summary_tpl">
      <span>Your avarage speed on this week: <%= avg_speed.toFixed(2) %> km/h, </span>
      <span>your avarage distance on this week: <%= avg_distance %> m</span>
   </script>


   <script type="text/template" id="records_list_tpl">
     <form class="" action="" method="post">
         <label>Filter by date from </label> <input class="datepicker date_from" name="date_from" value="">
         <label> to </label>
         <input class="datepicker date_to" name="date_to" value="">
         <a class="btn btn-success clear" href="javascript:void(0)">clear</a>
     </form>
     <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Distance, m</th>
          <th>Time</th>
          <th>Average speed, km/h</th>
        </tr>
      </thead>
      <tbody></tbody>
     </table>
     <a class="btn btn-success add" href="javascript:void(0)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add</a>
   </script>

   <script type="text/template" id="record_tpl">
       <td><%- date %></td>
       <td><%- distance %></td>
       <td><%- time %></td>
       <td><%= avg_speed.toFixed(2) %></td>
       <td>
          <a role="button" class="edit btn btn-default" href="javascript:void(0);">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit
          </a>
          <a role="button" class="del btn btn-danger" href="javascript:void(0);">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
          </a>
        </td>
   </script>

   <script type="text/template" id="form_tpl">

     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= action %></h4>
      </div>
      <div class="modal-body">


        <form class="form">
          <div class="form-group <%= errors.date.length ? 'has-error' : '' %>">
            <label class="control-label" for="date">Date</label>
            <input type="text" class="form-control" id="date"  placeholder="Date" value="<%= date %>">
            <% _.each(errors.date, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>

          <div class="form-group <%= errors.distance.length ? 'has-error' : '' %>">
            <label class="control-label" for="date">Distance</label>
            <input type="text" class="form-control" id="distance" placeholder="Distance" value="<%= distance %>">
            <% _.each(errors.distance, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>              

          <div class="form-group  <%= errors.time.length ? 'has-error' : '' %>">
            <label class="control-label" for="date">Time</label>
            <input type="text" class="form-control" id="time" placeholder="Time" value="<%= time %>">
            <% _.each(errors.time, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary commit">Commit</button>
      </div>
   </script>


  <script type="text/template" id="users_list_tpl">
     <h1>Users</h1>
     <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Is Superuser</th>
          <th>Is Active</th>
        </tr>
      </thead>
      <tbody></tbody>
     </table>
     <a class="btn btn-success add" href="javascript:void(0)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add</a>
   </script>

   <script type="text/template" id="user_tpl">
       <td><%- username %></td>
       <td><%- is_staff %></td>
       <td><%- is_active %></td>

       <td>
          <% if (username != app.state.user) {%>
          <a role="button" class="toggle_active btn btn-primary" href="javascript:void(0);">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%- is_active ? 'disable' : 'enable' %>
          </a>
          <a role="button" class="toggle_superuser btn btn-success" href="javascript:void(0);">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%- is_staff ? 'remove from superusers' : 'make superuser' %>
          </a>
          <a role="button" class="toggle_active btn btn-danger" href="javascript:void(0);">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
          </a>
          <% } %>
        </td>
   </script>


   <script type="text/template" id="userform_tpl">

     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= action %></h4>
      </div>
      <div class="modal-body">
        <form class="form">

          <div class="form-group <%= errors.username.length ? 'has-error' : '' %>">
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username"  placeholder="Username" value="<%= username %>">
            <% _.each(errors.username, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>

          <div class="form-group <%= errors.password.length ? 'has-error' : '' %>">
            <label class="control-label" for="password">Password</label>
            <input type="text" class="form-control" id="password"  placeholder="Password" value="<%= password %>">
            <% _.each(errors.password, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>

          <div class="form-group <%= errors.password_repeat.length ? 'has-error' : '' %>">
            <label class="control-label" for="password_repeat">Password repeat</label>
            <input type="text" class="form-control" id="password_repeat"  placeholder="Password repeat" value="<%= password_repeat %>">
            <% _.each(errors.password_repeat, function(err){ %>
              <span class="help-block"><%= err %></span>
            <% }); %>
          </div>

          <div class="form-group">
            <label class="control-label" for="date">Is Superuser</label>
            <input type="checkbox" class="form-control" id="is_staff" placeholder="Is Superuser" <%= is_staff ? 'checked' : '' %>>
          </div>

          <div class="form-group">
            <label class="control-label" for="date">Is Active</label>
            <input type="checkbox" class="form-control" id="is_active" placeholder="Is Active" <%= is_active ? 'checked' : '' %>>
          </div>                

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary commit">Commit</button>
      </div>
   </script>



  </head>

  <body>

    <div class="container" id="status"></div>
    <div class="container" id="signin"></div>

    <div class="container" id="summary"></div>

    <div class="container" id="records"></div>
    <div class="container" id="users"></div>

    <div class="modal fade">
      <div class="modal-dialog">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script type="text/javascript" src="{% static "main/js/libs/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/libs/jquery.mask.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/libs/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/libs/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/libs/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/libs/bootstrap-datepicker.js" %}"></script>

    <script type="text/javascript" src="{% static "main/js/app/models.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/app/collections.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/app/views.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/app/app.js" %}"></script>

  </body>
</html>
