
.datepicker {
    border-radius: 4px;
    direction: ltr;
    padding: 4px;
}
.datepicker-inline {
    width: 220px;
}
.datepicker.datepicker-rtl {
    direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
    float: right;
}
.datepicker-dropdown {
    left: 0;
    top: 0;
}
.datepicker-dropdown::before {
    border-color: -moz-use-text-color transparent rgba(0, 0, 0, 0.2);
    border-style: none solid solid;
    border-width: 0 7px 7px;
    content: "";
    display: inline-block;
    position: absolute;
}
.datepicker-dropdown::after {
    border-color: -moz-use-text-color transparent #fff;
    border-style: none solid solid;
    border-width: 0 6px 6px;
    content: "";
    display: inline-block;
    position: absolute;
}
.datepicker-dropdown.datepicker-orient-left::before {
    left: 6px;
}
.datepicker-dropdown.datepicker-orient-left::after {
    left: 7px;
}
.datepicker-dropdown.datepicker-orient-right::before {
    right: 6px;
}
.datepicker-dropdown.datepicker-orient-right::after {
    right: 7px;
}
.datepicker-dropdown.datepicker-orient-top::before {
    top: -7px;
}
.datepicker-dropdown.datepicker-orient-top::after {
    top: -6px;
}
.datepicker-dropdown.datepicker-orient-bottom::before {
    border-bottom: 0 none;
    border-top: 7px solid #999;
    bottom: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom::after {
    border-bottom: 0 none;
    border-top: 6px solid #fff;
    bottom: -6px;
}
.datepicker > div {
    display: none;
}
.datepicker.days .datepicker-days, .datepicker.months .datepicker-months, .datepicker.years .datepicker-years {
    display: block;
}
.datepicker table {
    -moz-user-select: none;
    margin: 0;
}
.datepicker table tr td, .datepicker table tr th {
    border: medium none;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    width: 30px;
}
.table-striped .datepicker table tr td, .table-striped .datepicker table tr th {
    background-color: transparent;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background: #eeeeee none repeat scroll 0 0;
    cursor: pointer;
}
.datepicker table tr td.old, .datepicker table tr td.new {
    color: #999999;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #999999;
    cursor: default;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    background-color: #ffdb99;
    border-color: #ffb733;
    color: #000000;
}
.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:focus, .datepicker table tr td.today:hover:focus, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today.active:hover, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.today, .open .dropdown-toggle.datepicker table tr td.today:hover, .open .dropdown-toggle.datepicker table tr td.today.disabled, .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    background-color: #ffcd70;
    border-color: #f59e00;
    color: #000000;
}
.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today.active:hover, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.today, .open .dropdown-toggle.datepicker table tr td.today:hover, .open .dropdown-toggle.datepicker table tr td.today.disabled, .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    background-image: none;
}
.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled.disabled:hover, .datepicker table tr td.today[disabled], .datepicker table tr td.today[disabled]:hover, .datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled[disabled]:hover, fieldset[disabled] .datepicker table tr td.today, fieldset[disabled] .datepicker table tr td.today:hover, fieldset[disabled] .datepicker table tr td.today.disabled, fieldset[disabled] .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today.disabled.disabled:hover, .datepicker table tr td.today.disabled.disabled:hover:hover, .datepicker table tr td.today[disabled]:hover, .datepicker table tr td.today[disabled]:hover:hover, .datepicker table tr td.today.disabled[disabled]:hover, .datepicker table tr td.today.disabled[disabled]:hover:hover, fieldset[disabled] .datepicker table tr td.today:hover, fieldset[disabled] .datepicker table tr td.today:hover:hover, fieldset[disabled] .datepicker table tr td.today.disabled:hover, fieldset[disabled] .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today.disabled.disabled:focus, .datepicker table tr td.today.disabled.disabled:hover:focus, .datepicker table tr td.today[disabled]:focus, .datepicker table tr td.today[disabled]:hover:focus, .datepicker table tr td.today.disabled[disabled]:focus, .datepicker table tr td.today.disabled[disabled]:hover:focus, fieldset[disabled] .datepicker table tr td.today:focus, fieldset[disabled] .datepicker table tr td.today:hover:focus, fieldset[disabled] .datepicker table tr td.today.disabled:focus, fieldset[disabled] .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.disabled.disabled:active, .datepicker table tr td.today.disabled.disabled:hover:active, .datepicker table tr td.today[disabled]:active, .datepicker table tr td.today[disabled]:hover:active, .datepicker table tr td.today.disabled[disabled]:active, .datepicker table tr td.today.disabled[disabled]:hover:active, fieldset[disabled] .datepicker table tr td.today:active, fieldset[disabled] .datepicker table tr td.today:hover:active, fieldset[disabled] .datepicker table tr td.today.disabled:active, fieldset[disabled] .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled.active:hover, .datepicker table tr td.today.disabled.disabled.active, .datepicker table tr td.today.disabled.disabled.active:hover, .datepicker table tr td.today.active[disabled], .datepicker table tr td.today.active[disabled]:hover, .datepicker table tr td.today.disabled.active[disabled], .datepicker table tr td.today.disabled.active[disabled]:hover, fieldset[disabled] .datepicker table tr td.today.active, fieldset[disabled] .datepicker table tr td.today.active:hover, fieldset[disabled] .datepicker table tr td.today.disabled.active, fieldset[disabled] .datepicker table tr td.today.disabled.active:hover {
    background-color: #ffdb99;
    border-color: #ffb733;
}
.datepicker table tr td.today:hover:hover {
    color: #000;
}
.datepicker table tr td.today.active:hover {
    color: #fff;
}
.datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 0;
}
.datepicker table tr td.range.today, .datepicker table tr td.range.today:hover, .datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:hover {
    background-color: #f7ca77;
    border-color: #f1a417;
    border-radius: 0;
    color: #000000;
}
.datepicker table tr td.range.today:hover, .datepicker table tr td.range.today:hover:hover, .datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled:hover:hover, .datepicker table tr td.range.today:focus, .datepicker table tr td.range.today:hover:focus, .datepicker table tr td.range.today.disabled:focus, .datepicker table tr td.range.today.disabled:hover:focus, .datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active, .datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.active, .datepicker table tr td.range.today.active:hover, .datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.range.today, .open .dropdown-toggle.datepicker table tr td.range.today:hover, .open .dropdown-toggle.datepicker table tr td.range.today.disabled, .open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover {
    background-color: #f4bb51;
    border-color: #bf800c;
    color: #000000;
}
.datepicker table tr td.range.today:active, .datepicker table tr td.range.today:hover:active, .datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.active, .datepicker table tr td.range.today.active:hover, .datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.range.today, .open .dropdown-toggle.datepicker table tr td.range.today:hover, .open .dropdown-toggle.datepicker table tr td.range.today.disabled, .open .dropdown-toggle.datepicker table tr td.range.today.disabled:hover {
    background-image: none;
}
.datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled.disabled, .datepicker table tr td.range.today.disabled.disabled:hover, .datepicker table tr td.range.today[disabled], .datepicker table tr td.range.today[disabled]:hover, .datepicker table tr td.range.today.disabled[disabled], .datepicker table tr td.range.today.disabled[disabled]:hover, fieldset[disabled] .datepicker table tr td.range.today, fieldset[disabled] .datepicker table tr td.range.today:hover, fieldset[disabled] .datepicker table tr td.range.today.disabled, fieldset[disabled] .datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today.disabled:hover:hover, .datepicker table tr td.range.today.disabled.disabled:hover, .datepicker table tr td.range.today.disabled.disabled:hover:hover, .datepicker table tr td.range.today[disabled]:hover, .datepicker table tr td.range.today[disabled]:hover:hover, .datepicker table tr td.range.today.disabled[disabled]:hover, .datepicker table tr td.range.today.disabled[disabled]:hover:hover, fieldset[disabled] .datepicker table tr td.range.today:hover, fieldset[disabled] .datepicker table tr td.range.today:hover:hover, fieldset[disabled] .datepicker table tr td.range.today.disabled:hover, fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:hover, .datepicker table tr td.range.today.disabled:focus, .datepicker table tr td.range.today.disabled:hover:focus, .datepicker table tr td.range.today.disabled.disabled:focus, .datepicker table tr td.range.today.disabled.disabled:hover:focus, .datepicker table tr td.range.today[disabled]:focus, .datepicker table tr td.range.today[disabled]:hover:focus, .datepicker table tr td.range.today.disabled[disabled]:focus, .datepicker table tr td.range.today.disabled[disabled]:hover:focus, fieldset[disabled] .datepicker table tr td.range.today:focus, fieldset[disabled] .datepicker table tr td.range.today:hover:focus, fieldset[disabled] .datepicker table tr td.range.today.disabled:focus, fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:focus, .datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.disabled.disabled:active, .datepicker table tr td.range.today.disabled.disabled:hover:active, .datepicker table tr td.range.today[disabled]:active, .datepicker table tr td.range.today[disabled]:hover:active, .datepicker table tr td.range.today.disabled[disabled]:active, .datepicker table tr td.range.today.disabled[disabled]:hover:active, fieldset[disabled] .datepicker table tr td.range.today:active, fieldset[disabled] .datepicker table tr td.range.today:hover:active, fieldset[disabled] .datepicker table tr td.range.today.disabled:active, fieldset[disabled] .datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled.active:hover, .datepicker table tr td.range.today.disabled.disabled.active, .datepicker table tr td.range.today.disabled.disabled.active:hover, .datepicker table tr td.range.today.active[disabled], .datepicker table tr td.range.today.active[disabled]:hover, .datepicker table tr td.range.today.disabled.active[disabled], .datepicker table tr td.range.today.disabled.active[disabled]:hover, fieldset[disabled] .datepicker table tr td.range.today.active, fieldset[disabled] .datepicker table tr td.range.today.active:hover, fieldset[disabled] .datepicker table tr td.range.today.disabled.active, fieldset[disabled] .datepicker table tr td.range.today.disabled.active:hover {
    background-color: #f7ca77;
    border-color: #f1a417;
}
.datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #999999;
    border-color: #555555;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover, .datepicker table tr td.selected:hover:hover, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover:hover, .datepicker table tr td.selected:focus, .datepicker table tr td.selected:hover:focus, .datepicker table tr td.selected.disabled:focus, .datepicker table tr td.selected.disabled:hover:focus, .datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.active, .datepicker table tr td.selected.active:hover, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.selected, .open .dropdown-toggle.datepicker table tr td.selected:hover, .open .dropdown-toggle.datepicker table tr td.selected.disabled, .open .dropdown-toggle.datepicker table tr td.selected.disabled:hover {
    background-color: #858585;
    border-color: #373737;
    color: #ffffff;
}
.datepicker table tr td.selected:active, .datepicker table tr td.selected:hover:active, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.active, .datepicker table tr td.selected.active:hover, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.selected, .open .dropdown-toggle.datepicker table tr td.selected:hover, .open .dropdown-toggle.datepicker table tr td.selected.disabled, .open .dropdown-toggle.datepicker table tr td.selected.disabled:hover {
    background-image: none;
}
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled.disabled, .datepicker table tr td.selected.disabled.disabled:hover, .datepicker table tr td.selected[disabled], .datepicker table tr td.selected[disabled]:hover, .datepicker table tr td.selected.disabled[disabled], .datepicker table tr td.selected.disabled[disabled]:hover, fieldset[disabled] .datepicker table tr td.selected, fieldset[disabled] .datepicker table tr td.selected:hover, fieldset[disabled] .datepicker table tr td.selected.disabled, fieldset[disabled] .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover:hover, .datepicker table tr td.selected.disabled.disabled:hover, .datepicker table tr td.selected.disabled.disabled:hover:hover, .datepicker table tr td.selected[disabled]:hover, .datepicker table tr td.selected[disabled]:hover:hover, .datepicker table tr td.selected.disabled[disabled]:hover, .datepicker table tr td.selected.disabled[disabled]:hover:hover, fieldset[disabled] .datepicker table tr td.selected:hover, fieldset[disabled] .datepicker table tr td.selected:hover:hover, fieldset[disabled] .datepicker table tr td.selected.disabled:hover, fieldset[disabled] .datepicker table tr td.selected.disabled:hover:hover, .datepicker table tr td.selected.disabled:focus, .datepicker table tr td.selected.disabled:hover:focus, .datepicker table tr td.selected.disabled.disabled:focus, .datepicker table tr td.selected.disabled.disabled:hover:focus, .datepicker table tr td.selected[disabled]:focus, .datepicker table tr td.selected[disabled]:hover:focus, .datepicker table tr td.selected.disabled[disabled]:focus, .datepicker table tr td.selected.disabled[disabled]:hover:focus, fieldset[disabled] .datepicker table tr td.selected:focus, fieldset[disabled] .datepicker table tr td.selected:hover:focus, fieldset[disabled] .datepicker table tr td.selected.disabled:focus, fieldset[disabled] .datepicker table tr td.selected.disabled:hover:focus, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.disabled.disabled:active, .datepicker table tr td.selected.disabled.disabled:hover:active, .datepicker table tr td.selected[disabled]:active, .datepicker table tr td.selected[disabled]:hover:active, .datepicker table tr td.selected.disabled[disabled]:active, .datepicker table tr td.selected.disabled[disabled]:hover:active, fieldset[disabled] .datepicker table tr td.selected:active, fieldset[disabled] .datepicker table tr td.selected:hover:active, fieldset[disabled] .datepicker table tr td.selected.disabled:active, fieldset[disabled] .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled.active:hover, .datepicker table tr td.selected.disabled.disabled.active, .datepicker table tr td.selected.disabled.disabled.active:hover, .datepicker table tr td.selected.active[disabled], .datepicker table tr td.selected.active[disabled]:hover, .datepicker table tr td.selected.disabled.active[disabled], .datepicker table tr td.selected.disabled.active[disabled]:hover, fieldset[disabled] .datepicker table tr td.selected.active, fieldset[disabled] .datepicker table tr td.selected.active:hover, fieldset[disabled] .datepicker table tr td.selected.disabled.active, fieldset[disabled] .datepicker table tr td.selected.disabled.active:hover {
    background-color: #999999;
    border-color: #555555;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #ffffff;
}
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled.disabled:hover, .datepicker table tr td.active[disabled], .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled[disabled]:hover, fieldset[disabled] .datepicker table tr td.active, fieldset[disabled] .datepicker table tr td.active:hover, fieldset[disabled] .datepicker table tr td.active.disabled, fieldset[disabled] .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled.disabled:hover, .datepicker table tr td.active.disabled.disabled:hover:hover, .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active[disabled]:hover:hover, .datepicker table tr td.active.disabled[disabled]:hover, .datepicker table tr td.active.disabled[disabled]:hover:hover, fieldset[disabled] .datepicker table tr td.active:hover, fieldset[disabled] .datepicker table tr td.active:hover:hover, fieldset[disabled] .datepicker table tr td.active.disabled:hover, fieldset[disabled] .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active.disabled.disabled:focus, .datepicker table tr td.active.disabled.disabled:hover:focus, .datepicker table tr td.active[disabled]:focus, .datepicker table tr td.active[disabled]:hover:focus, .datepicker table tr td.active.disabled[disabled]:focus, .datepicker table tr td.active.disabled[disabled]:hover:focus, fieldset[disabled] .datepicker table tr td.active:focus, fieldset[disabled] .datepicker table tr td.active:hover:focus, fieldset[disabled] .datepicker table tr td.active.disabled:focus, fieldset[disabled] .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled.disabled:active, .datepicker table tr td.active.disabled.disabled:hover:active, .datepicker table tr td.active[disabled]:active, .datepicker table tr td.active[disabled]:hover:active, .datepicker table tr td.active.disabled[disabled]:active, .datepicker table tr td.active.disabled[disabled]:hover:active, fieldset[disabled] .datepicker table tr td.active:active, fieldset[disabled] .datepicker table tr td.active:hover:active, fieldset[disabled] .datepicker table tr td.active.disabled:active, fieldset[disabled] .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .datepicker table tr td.active.disabled.disabled.active, .datepicker table tr td.active.disabled.disabled.active:hover, .datepicker table tr td.active.active[disabled], .datepicker table tr td.active.active[disabled]:hover, .datepicker table tr td.active.disabled.active[disabled], .datepicker table tr td.active.disabled.active[disabled]:hover, fieldset[disabled] .datepicker table tr td.active.active, fieldset[disabled] .datepicker table tr td.active.active:hover, fieldset[disabled] .datepicker table tr td.active.disabled.active, fieldset[disabled] .datepicker table tr td.active.disabled.active:hover {
    background-color: #428bca;
    border-color: #357ebd;
}
.datepicker table tr td span {
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    line-height: 54px;
    margin: 1%;
    width: 23%;
}
.datepicker table tr td span:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #999999;
    cursor: default;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #ffffff;
}
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    background-image: none;
}
.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled.disabled:hover, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active[disabled]:hover, .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled[disabled]:hover, fieldset[disabled] .datepicker table tr td span.active, fieldset[disabled] .datepicker table tr td span.active:hover, fieldset[disabled] .datepicker table tr td span.active.disabled, fieldset[disabled] .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active.disabled.disabled:hover, .datepicker table tr td span.active.disabled.disabled:hover:hover, .datepicker table tr td span.active[disabled]:hover, .datepicker table tr td span.active[disabled]:hover:hover, .datepicker table tr td span.active.disabled[disabled]:hover, .datepicker table tr td span.active.disabled[disabled]:hover:hover, fieldset[disabled] .datepicker table tr td span.active:hover, fieldset[disabled] .datepicker table tr td span.active:hover:hover, fieldset[disabled] .datepicker table tr td span.active.disabled:hover, fieldset[disabled] .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active.disabled.disabled:focus, .datepicker table tr td span.active.disabled.disabled:hover:focus, .datepicker table tr td span.active[disabled]:focus, .datepicker table tr td span.active[disabled]:hover:focus, .datepicker table tr td span.active.disabled[disabled]:focus, .datepicker table tr td span.active.disabled[disabled]:hover:focus, fieldset[disabled] .datepicker table tr td span.active:focus, fieldset[disabled] .datepicker table tr td span.active:hover:focus, fieldset[disabled] .datepicker table tr td span.active.disabled:focus, fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled.disabled:active, .datepicker table tr td span.active.disabled.disabled:hover:active, .datepicker table tr td span.active[disabled]:active, .datepicker table tr td span.active[disabled]:hover:active, .datepicker table tr td span.active.disabled[disabled]:active, .datepicker table tr td span.active.disabled[disabled]:hover:active, fieldset[disabled] .datepicker table tr td span.active:active, fieldset[disabled] .datepicker table tr td span.active:hover:active, fieldset[disabled] .datepicker table tr td span.active.disabled:active, fieldset[disabled] .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .datepicker table tr td span.active.disabled.disabled.active, .datepicker table tr td span.active.disabled.disabled.active:hover, .datepicker table tr td span.active.active[disabled], .datepicker table tr td span.active.active[disabled]:hover, .datepicker table tr td span.active.disabled.active[disabled], .datepicker table tr td span.active.disabled.active[disabled]:hover, fieldset[disabled] .datepicker table tr td span.active.active, fieldset[disabled] .datepicker table tr td span.active.active:hover, fieldset[disabled] .datepicker table tr td span.active.disabled.active, fieldset[disabled] .datepicker table tr td span.active.disabled.active:hover {
    background-color: #428bca;
    border-color: #357ebd;
}
.datepicker table tr td span.old, .datepicker table tr td span.new {
    color: #999999;
}
.datepicker .datepicker-switch {
    width: 145px;
}
.datepicker thead tr:first-child th, .datepicker tfoot tr th {
    cursor: pointer;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.datepicker .cw {
    font-size: 10px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
    width: 12px;
}
.datepicker thead tr:first-child .cw {
    background-color: transparent;
    cursor: default;
}
.input-group.date .input-group-addon {
    cursor: pointer;
}
.input-daterange {
    width: 100%;
}
.input-daterange input {
    text-align: center;
}
.input-daterange input:first-child {
    border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
    border-radius: 0 3px 3px 0;
}
.input-daterange .input-group-addon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eeeeee;
    border-color: #cccccc;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    font-weight: normal;
    line-height: 1.42857;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    width: auto;
}
